@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
img{
    width: 350px; 
    height: 90px
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    box-sizing: border-box;
    margin: O;
    padding: 0;
    background-color: #ffffff;
}
li,a,button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 21px;
    color:#ffffff;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
}
.logo{
    cursor: pointer;
}
.cabeçalho{
    list-style: none;
}
.cabeçalho a {
    transition: all0.3s ease 0s;
   
}
.cabeçalho a:hover {
color: rgba(61, 61, 65, 0.226);
}
button{
    padding: 9px 25px;
    background-color:#b0804a;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all0.3s ease 0s;
}
button:hover{
    background-color: #545454;
}
main{
    margin-top: 100px;
}

.PROJETOS{
word-break:break-all;
}